#
# Author: Royal Render, Holger Schoenberger, Binary Alchemy
# v 6.02.19_7a
#
#
################################## Identify Render Application ################################## 
Name= Maya
rendererName= mayaSoftware
Version=8
Version_Minor=0
Type=3D


##################################  Commandlines Windows ##################################

CommandLine_Win=
	<SetEnvGlobal>

CommandLine_Win=
	<SetEnvSoft>

CommandLine_Win=
	<ResetExitCode> 

CommandLine_Win=  "<Exe>"
	-proj "<D><EL<PD>>"
	-r sw
	<CPU -n <CPU> >
	-rd "<PD/<ImageDir><EL<PD>>>" 
	-im "<PD/<ImageFilenameVariables><EL.><EL<PNL>>>"
	<ImageSingleOutputFile ? -s <SeqStart>	-e <SeqEnd> -b <SeqStep> -rfs <SeqStart> -rfb <SeqStep> >
	<SequenceDivide  ? -rep 1>
        <Layer -rl "<Layer>">
        <Camera -cam "<Camera>">
	-pad <ImageFramePadding>
 	<OverrideImageFormat -of "<OverrideImageFormat>">
	<verboseLevel>
	<renderQuality>
	<AdditionalCommandlineParam>
	<ClientConfigParam>
	"<Scene>"


CommandLine_Win=
	<CheckExitCode> <FN>

##################################  Commandlines Linux ##################################

CommandLine_Lx=
	<SetEnvGlobal>

CommandLine_Lx=
	<SetEnvSoft>

CommandLine_Lx=
	<ResetExitCode> 

CommandLine_Lx=  "<Exe>"
	-proj "<D><EL<PD>>"
	-r sw
	<CPU -n <CPU> >
	-rd "<ImageDir><EL<PD>>"
	-im "<ImageFilenameVariables><EL.><EL<PNL>>"
	<ImageSingleOutputFile ? -s <SeqStart>	-e <SeqEnd> -b <SeqStep> -rfs <SeqStart> -rfb <SeqStep> >
	<SequenceDivide  ?-rep 1>
        <Layer -rl "<Layer>">
        <Camera -cam "<Camera>">
	-pad <ImageFramePadding>
 	<OverrideImageFormat -of "<OverrideImageFormat>">
	<verboseLevel>
	<renderQuality>
	<AdditionalCommandlineParam>
	<ClientConfigParam>
	"<Scene>"



CommandLine_Lx=
	<CheckExitCode> <FN>


##################################  Commandlines Mac ##################################

CommandLine_Mac=
	<SetEnvGlobal>

CommandLine_Mac=
	<SetEnvSoft>

CommandLine_Mac=
	<ResetExitCode> 

CommandLine_Mac=
	"<Exe>"
	-proj "<D><EL<PD>>"
	-r sw
	<CPU -n <CPU> >
	-rd "<ImageDir><EL<PD>>"
	-im "<ImageFilenameVariables><EL.><EL<PNL>>"
	<ImageSingleOutputFile ? -s <SeqStart>	-e <SeqEnd> -b <SeqStep> -rfs <SeqStart> -rfb <SeqStep> >
	<SequenceDivide  ?-rep 1>
        <Layer -rl "<Layer>">
        <Camera -cam "<Camera>">
	-pad <ImageFramePadding>
 	<OverrideImageFormat -of "<OverrideImageFormat>">
	<verboseLevel>
	<renderQuality>
	<AdditionalCommandlineParam>
	<ClientConfigParam>
	"<Scene>"

CommandLine_Mac=
	<CheckExitCode> <FN>


################################## Render Settings ################################## 

FlagsRenderQuality0= 
FlagsRenderQuality1= -eaa 3 -ss 1 -mss 1 -ufil false
FlagsRenderQuality2= -eaa 1 -ss 2 -mss 8 -ufil true -rct 0.2 -gct 0.2 -bct 0.2
FlagsRenderQuality3= -eaa 0 -ss 3 -mss 9 -ufil true -rct 0.1 -gct 0.1 -bct 0.1
FlagsRenderQuality4= -eaa 0 -ss 3 -mss 9 -ufil true -rct 0.05 -gct 0.05 -bct 0.05


FlagsRegion= -reg <X1 <X1> ? 0>  <X2 <X2> ? 19999> <Y1 <Y1> ? 0 > <Y2 <Y2> ? 19999>

ImageSizeCommandline= -x <Width> -y  <Height>

################################## Submitter Settings ################################## 
StartMultipleInstances= 1~0
SceneFileExtension= *.ma;*.mb
AllowImageNameChange= 1
AllowImageDirChange= 1
SequenceDivide= 0~1



ImageSize= PAL  ~720~576
ImageSize= NTSC  ~720~486
ImageSize= HD  ~ 1920~1080
ImageSize= HD small  ~ 1280~720
ImageSize= 4:3 Small ~ 400~300
ImageSize= 4:3 Big   ~ 1000~750
ImageSize= 16:9     ~ 1024~576




################################## Client Settings ################################## 
TexReplaceFormat= .ma ~ Char ~ AlwaysForward
TexReplaceFormat= .mb ~ FOR4 ~ AlwaysForward

licenseFailLine=  No license suitable to run

errorSearchLine=  

permanentErrorSearchLine = Unknown Maya file version
permanentErrorSearchLine = Cannot open renderer description file
permanentErrorSearchLine = Cannot render
permanentErrorSearchLine = Reference file not found


findFrameNoPre= <ImageFilenameSlash>
findFrameNoPost= <ImageExtensionSlash>


RenderAppWindow_WIN= Error ~ Unable to locate valid MAYA_APP_DIR ~ 1 ~ Button ~ OK 
RenderAppWindow_WIN= Browse for Folder ~ Select a directory where Maya will store user data ~ 1 ~ Button ~ Cancel 
RenderAppWindow_WIN= Warning ~ Cannot run Maya without a valid setting for MAYA_APP_DIR ~ 1 ~ Button ~ &No 


