# config file format version 7.0
#
# Author: Royal Render, Holger Schoenberger, Binary Alchemy
# v 7.0.24
#
#
################################## Identify Render Application ################################## 
Name= 3dsMax
rendererName= Vray
RendererLicense= VRay
RenderType=
OS= 1
Version=7
Version_Minor=0
Type=3D

##################################  [Windows]  ##################################


CommandLine=
	set "USERPROFILE=%rrLocalRoot%SysUserPrefs\%rrClientThreadIDstr%"

CommandLine=
	set "LOCALAPPDATA=%USERPROFILE%\AppData\Local"

CommandLine=
        <rrBin>rrCopy -oa "<rrPrefs>Workspace1.se.ini" "%LOCALAPPDATA%\Autodesk\3dsMax\%rrExeVersionMajor% - 64bit\ENU\en-US\UI\Workspaces\Workspace1.se.ini"

CommandLine=
        <rrBin>rrCopy -oa "<rrPrefs>Plugin.UserSettings.ini" "%LOCALAPPDATA%\Autodesk\3dsMax\%rrExeVersionMajor% - 64bit\ENU\Plugin.UserSettings.ini"


CommandLine= IF "%MaxPlugins_NetworkPath%" == ""  ( set "MaxPlugins_NetworkPath=%rrPluginsNoOS%MaxPlugins_%rrExeVersionMajor%" )

CommandLine= <envFileExecute <rrEnvFile>> 


CommandLine= <rrEnvLine> 


CommandLine= @if not exist "%ProgramFiles(x86)%\Autodesk\Backburner\server.exe" (   echo Error: Backburner installation not found. )


CommandLine=
	<rrBin>rrKillWait 1 WSCommCntr4.exe

CommandLine=
	<SetEnvGlobal>

CommandLine=
	<CPU <LimitCPUs> <CPU>>

CommandLine=
	<SetEnvSoft>


CommandLine=
    	<rrBin>rrFilereplace "%LOCALAPPDATA%\Autodesk\3dsMax\%rrExeVersionMajor% - 64bit\ENU\Plugin.UserSettings.ini" "**MaxAppFolder**;;<rrBaseAppPath>" "**rrNetworkPlugins**;;%MaxPlugins_NetworkPath%"


CommandLine=
	<ResetExitCode> 


CommandLine=  "<Exe>" 
	<SeqFileOffset	? <SeqFrameSet -frames:<SeqFrameSet>>>
	-start:<SeqStart> 
	-end:<SeqEnd>
	-nthFrame:<SeqStep>
	-showRFW:0
	<Channel ? <EndsWith(<ImageExtension>, .vrmap)  ? -outputName:"<ImageDir><ImageFilename><ImageExtension>"> >
	-skipRenderedFrames:<SequenceDivide 0?1 >
	<Layer -sceneState:<Layer>>
	<camera -cam "<camera>"> "<Scene>"
	<COGammaCorrect -gammaCorrection:1 -gammaValueIn:2.2 -gammaValueOut:2.2>
	<COContinueOnError -continueOnError>
	<verboseLevel>
	<renderQuality>
	<AdditionalCommandlineParam>
	<ClientConfigParam>


CommandLine=
	<CheckExitCode> <FN>

################################## Render Settings ################################## 

SeperateRenderLogFile= <rrLocalTemp>vraylog.txt


FlagsVerbose0= -v:4
FlagsVerbose1= -v:0
FlagsVerbose2= -v:3
FlagsVerbose3= -v:4
FlagsVerbose4= -v:5



TileAdd= -strip:<TotalTiles>,4,<TileNumber+1>


ImageSizeCommandline=  -w:<Width> -h:<Height>

COGammaCorrect= 1 ~ 0
COContinueOnError= 1 ~ 0 


################################## Submitter Settings ################################## 
SceneFileExtension= *.max
AllowImageNameChange= 1
AllowImageDirChange= 1
SequenceDivide= 0~1
OverrideRendererPossible= 0
StartMultipleInstances=0~0


ImageSize= PAL  ~720~576  ~ -pixelAspect:1.0667
ImageSize= NTSC  ~720~486 ~ -pixelAspect:0.9
ImageSize= HD  ~ 1920~1080 ~ -pixelAspect:1.0
ImageSize= HD small  ~ 1280~720  ~ -pixelAspect:1.0
ImageSize= 4:3 Small ~ 400~300  ~ -pixelAspect:1.0
ImageSize= 4:3 Big   ~ 1000~750  ~ -pixelAspect:1.0
ImageSize= 16:9     ~ 1024~576  ~ -pixelAspect:1.0




################################## Client Settings ################################## 

Frozen_MinCoreUsage=1.90

TexReplaceFormat= .max ~ Unicode 

licenseFailLine=   Could not obtain a license

errorSearchLine=  


permanentErrorSearchLine = Error initializing backburner path system
permanentErrorSearchLine = Backburner installation not found


findFrameNoPre= Frame 
findFrameNoPost=  assigned


RenderAppWindow_WIN= Rendering - ~
RenderAppWindow_WIN= Rendern - ~
RenderAppWindow_WIN= - Autodesk 3ds Max ~
RenderAppWindow_WIN= MAXScript Debugger ~
RenderAppWindow_WIN= MAXScript-Debugger ~
RenderAppWindow_WIN= MAXScript Editor ~
RenderAppWindow_WIN= MAXScript-Editor ~
RenderAppWindow_WIN= RealFlow Log Window ~
RenderAppWindow_WIN= AfterBurn Shadow Map ~
RenderAppWindow_WIN= 3D Mouse News ~ ~ 1 ~ Button ~ Close
RenderAppWindow_WIN= Render history settings ~  ~ 1 ~ Button ~ &No
RenderAppWindow_WIN= Render history ~
RenderAppWindow_WIN= GrowFX windows manager ~  ~ 1 ~ Button ~ OK 
RenderAppWindow_WIN= Pixel information ~
RenderAppWindow_WIN= Stamp variables window ~
RenderAppWindow_WIN= Color corrections ~
RenderAppWindow_WIN= FumeFX ~
RenderAppWindow_WIN= DLL Initialization Fail ~ ~ 1 ~ Button ~ OK
RenderAppWindow_WIN= Error Report ~ ~ 1 ~ Button ~ Cancel
RenderAppWindow_WIN= Script Controller ~
RenderAppWindow_WIN= Rendering ~
RenderAppWindow_WIN= Interaction Mode ~ ~ 1 ~ Button ~ OK
RenderAppWindow_WIN= FFX_ ~
RenderAppWindow_WIN= Error ~ ~ 1 ~ Button ~ OK
RenderAppWindow_WIN= Frame Buffer ~
RenderAppWindow_WIN= RFRK Log Window
RenderAppWindow_WIN= MXS_ ~
RenderAppWindow_WIN= State Sets ~
RenderAppWindow_WIN= Lens Effects ~
RenderAppWindow_WIN= Unhandled exception ~ ~ 1 ~ Button ~ &Abort


RenderAppWindow_WIN= Maxwell Translation Window ~
RenderAppWindow_WIN= Maxwell Plug-in Update Notification ~ ~ 1 ~ Button ~ Don't notify me about this version automatically



RenderAppWindow_WIN= V-Ray Frame Buffer ~




