# config file format version 7.0
#
# Author: Royal Render, Holger Schoenberger, Binary Alchemy
# v 7.0.01+6.02.41
#
#
################################## Identify Render Application ################################## 
Name= Terragen
rendererName= 
Version=2
Version_Minor=0
Type=3D



##################################  [Windows] [Linux] [Osx] ##################################


CommandLine=<envFileExecute <rrEnvFile>> 

CommandLine=<rrEnvLine>

CommandLine=
	<SetEnvGlobal>

CommandLine=
	<SetEnvSoft>

CommandLine=
	<ResetExitCode> 

CommandLine=  
	::win  @echo 
	::lx   /bin/echo
	::osx  /bin/echo
	 "*************** Rendering frame <FN> ***************"

CommandLine=  "<Exe>"
	-p "<Scene>"
	-hide 
	-exit 
	-r 
	-f <FN> 	
	-o "<ImageDir><ImageFilename>%%0<FramePadding>d<ImageExtension>"
#	-ox "<ImageDir><ImageFilename>IMAGETYPE.%%0<FramePadding>d<ImageExtension>"
	<AdditionalCommandlineParam>
	<ClientConfigParam>


CommandLine=
	<CheckExitCode> <FN>


CommandLine=  
	::win  @echo 
	::lx   /bin/echo
	::osx  /bin/echo
	"*************** Frame <FN> done ***************"


################################## Render Settings ################################## 
sceneIsMultiFrame= 1
noScenefilePerFrame= 1


################################## Submitter Settings ################################## 
StartMultipleInstances= 1~1
SceneFileExtension= *.tgd
SequenceDivide= 0~1
AllowImageNameChange= 1
AllowImageDirChange= 1

################################## Client Settings ################################## 

TexReplaceFormat= .tgd ~ Char ~ AlwaysForward


findFrameNoPre= Frame 
findFrameNoPost=  done 

