# config file format version 7.0
#
# Author: Royal Render, Holger Schoenberger, Binary Alchemy
# v 7.0.01+6.02.41
#
#
################################## Identify Render Application ################################## 
Name= Vue
rendererName= 
Version=9
Version_Minor=0
Type=3D



##################################   [Windows] [Linux] [Osx] ##################################



CommandLine=<envFileExecute <rrEnvFile>> 

CommandLine=<rrEnvLine>

CommandLine=
	<SetEnvGlobal>

CommandLine=
	<SetEnvSoft>
	
CommandLine=
	<ResetExitCode> 

CommandLine=  "<Exe>"
	 -file "<Scene>"
	 -range <SeqStart> <SeqEnd>
	 -step <SeqStep>
	 <AdditionalCommandlineParam>
	 <ClientConfigParam>

CommandLine=
	<CheckExitCode> <FN>



################################## Render Settings ################################## 


################################## Submitter Settings ################################## 
SceneFileExtension= *.vue
SequenceDivide= 0~1
AllowImageNameChange= 1
AllowImageDirChange= 1


################################## Client Settings ################################## 

