# config file format version 7.0
#
# Author: Royal Render, Holger Schoenberger, Binary Alchemy
# v 7.0.01+6.02.41
#
#
################################## Identify Render Application ################################## 
Name= Messiah
rendererName= 
Version=5
Version_Minor=0
Type=3D



##################################   [Windows] [Linux] [Osx] ##################################


CommandLine=<envFileExecute <rrEnvFile>> 

CommandLine=<rrEnvLine>


CommandLine=
	<SetEnvGlobal>

CommandLine=
	<SetEnvSoft>

CommandLine=
	<ResetExitCode> 

CommandLine=  "<Exe>"
	"-f<Scene>"
	-b<SeqStart> -e<SeqEnd> -s<SeqStep>
	<CPU -t<CPU>>
	"-o<ImageDir>"
	<renderQuality>
	<AdditionalCommandlineParam>
	<ClientConfigParam>

CommandLine=
	<CheckExitCode> <FN>


################################## Render Settings ################################## 

FlagsRenderQuality0= 
FlagsRenderQuality1= -aa 0
FlagsRenderQuality2= -aa 1
FlagsRenderQuality3= -aa 2
FlagsRenderQuality4= -aa 3

ImageSizeCommandline= -x <Width> -y  <Height>

################################## Submitter Settings ################################## 
SceneFileExtension= *.fxs
SequenceDivide= 0~1
AllowImageNameChange= 1
AllowImageDirChange= 1


ImageSize= PAL  ~720~576
ImageSize= NTSC  ~720~486
ImageSize= HD  ~ 1920~1080
ImageSize= HD small  ~ 1280~720
ImageSize= 4:3 Small ~ 400~300
ImageSize= 4:3 Big   ~ 1000~750
ImageSize= 16:9     ~ 1024~576




################################## Client Settings ################################## 


