# config file format version 7.0
#
# Author:  Holger Schoenberger
# v 7.0.24
#
# This render config is used if you export .vrscene files per frame
#
#
################################## Identify Render Application ################################## 
Name= VRay_StdA
RendererName= multifile
Version=2
Version_Minor=0
Type=Archive



################################## [Windows] [Linux] [Osx] ##################################


CommandLine=<envFileExecute <rrEnvFile>> 

CommandLine=<rrEnvLine>


CommandLine=
	<SetEnvGlobal>

CommandLine=
	<SetEnvSoft>

CommandLine=
	<ResetExitCode> 

CommandLine=  
	::win  @echo 
	::lx   /bin/echo
	::osx  /bin/echo
	"*************** Rendering frame <FN> ***************"

CommandLine=  
	"<Exe>" 
	-autoclose=1 
	-display=0 
	-frames=<SeqStart>-<SeqEnd>,<SeqStep> 
	-sceneFile="<Scene>"
	-imgFile="<ImageDir><ImageFilename><ImageExtension>" 
	<verboseLevel>
	<renderQuality>
	<AdditionalCommandlineParam>
	<ClientConfigParam>

CommandLine=  <CheckExitCode> <FN>

CommandLine=  
	::win  @echo 
	::lx   /bin/echo
	::osx  /bin/echo
	"*************** Frame <FN> done ***************"


################################## Render Settings ################################## 

sceneIsMultiFrame= 1



################################## Submitter Settings ################################## 
SceneFileExtension= *.vrscene
SequenceDivide= 0~1
StartMultipleInstances= 1~0


FlagsVerbose0= -verboseLevel=2
FlagsVerbose1= -verboseLevel=0
FlagsVerbose2= -verboseLevel=2
FlagsVerbose3= -verboseLevel=3
FlagsVerbose4= -verboseLevel=4


ImageSizeCommandline= -imgWidth=<Width> -imgHeight=<Height>

FlagsRegion= -region=<X1<X1>?0>;<Y1<Y1>?0>;<X2<X2>?19999>;<Y2<Y2>?19999>



################################## Client Settings ################################## 

TexReplaceFormat= .vrscene ~ Char ~ AlwaysForward
Frozen_MinCoreUsage=1.90

findFrameNoPre= Successfully written image file "
findFrameNoPost=  "

