# config file format version 7.0
#
# Author: Royal Render, Holger Schoenberger, Binary Alchemy
# v 7.0.11
#
#
################################## Identify Render Application ################################## 
Name= Arnold
Version=3
Version_Minor=0
Type=Archive


ExeCopyFromDir = <rrSharedExeDir>
ExeCopyToDir   = <rrLocalExeDir>

ExeCopiedWin=  <rrLocalExeDir>Arnold-*\bin\kick.exe
ExeCopiedLx=  <rrLocalExeDir>Arnold-*\bin\kick


##################################   [Windows] [Linux] [Osx] ##################################

CommandLine=<envFileExecute <rrEnvFile>> 

CommandLine=<rrEnvLine>

CommandLine=
	<SetEnvGlobal>

CommandLine=
	<CPU <LimitCPUs> <CPU>>

CommandLine=
	<SetEnvSoft>

CommandLine=
	<ResetExitCode> 

CommandLine=  
	::win  @echo 
	::lx   /bin/echo
	::osx  /bin/echo
	"*************** Rendering frame <FN> ***************"

CommandLine=  "<Exe>"
	<CPU -t <CPU> >
	-i "<Scene>"
	-o "<ImageDir><ImageFilename><FNimgPadded><ImageExtension>"
	-l "<rrBaseAppPath>bin"
	-dw
	-dp
	-nstdin
	::win  -nocrashpopup
	<AdditionalCommandlineParam>
	<ClientConfigParam>

CommandLine=
	<CheckExitCode> <FN>

CommandLine=  
	::win  @echo 
	::lx   /bin/echo
	::osx  /bin/echo
	"*************** Frame <FN> done ***************"

################################## Render Settings ################################## 
sceneIsMultiFrame= 1

FlagsVerbose0= -v 1
FlagsVerbose1= -v 0
FlagsVerbose2= -v 1
FlagsVerbose3= -v 2
FlagsVerbose4= -v 3

FlagsRenderQuality0= 
FlagsRenderQuality1= -as 1 -idisp
FlagsRenderQuality2= -as 4
FlagsRenderQuality3= -as 6
FlagsRenderQuality4= -as 8

FlagsRegion= -rg <X1 <X1> ?0>  <X2 <X2> ? 19999> <Y1 <Y1> ? 0 > <Y2 <Y2> ? 19999>

ImageSizeCommandline= -r <Width> <Height>

################################## Submitter Settings ################################## 
StartMultipleInstances= 1~0
SceneFileExtension= *.ass
SequenceDivide= 0~1
AllowImageNameChange= 1
AllowImageDirChange= 1


ImageSize= PAL  ~720~576
ImageSize= NTSC  ~720~486
ImageSize= HD  ~ 1920~1080
ImageSize= HD small  ~ 1280~720
ImageSize= 4:3 Small ~ 400~300
ImageSize= 4:3 Big   ~ 1000~750
ImageSize= 16:9     ~ 1024~576


################################## Client Settings ################################## 

Frozen_MinCoreUsage=1.90

TexReplaceFormat= .ass ~ Char

licenseFailLine=  could not get a license
licenseFailLine=  No license suitable to run
licenseFailLine=  could not connect to license server
licenseFailLine=  error checking out license for arnold
licenseFailLine=  License was not obtained
licenseFailLine=  abort_on_license_fail enabled


errorSearchLine=  render terminating early


findFrameNoPre= Frame 
findFrameNoPost=  done 

