#
# Author: Royal Render, Holger Schoenberger, Binary Alchemy
# v 6.02.19_7a
#
#
################################## Identify Render Application ################################## 
Name= Maya
rendererName= mayaHardware
Version=8
Version_Minor=0
Type=3D


##################################  Commandlines Windows ##################################

CommandLine_Win=
	<SetEnvGlobal>

CommandLine_Win=
	<CPU <LimitCPUs> <CPU>>

CommandLine_Win=
	<SetEnvSoft>

CommandLine_Win=
	<ResetExitCode> 

CommandLine_Win=  
	"<Exe>"
	-proj "<D><EL<PD>>"
	-r hw
	-rd "<PD/<ImageDir><EL<PD>>>" 
	-im "<PD/<ImageFilenameVariables><EL.><EL<PNL>>>"
	<ImageSingleOutputFile ? -s <SeqStart>	-e <SeqEnd> -b <SeqStep> -rfs <SeqStart> -rfb <SeqStep> >
        <Layer -rl "<Layer>">
        <Camera -cam "<Camera>">
	-pad <ImageFramePadding>
 	<OverrideImageFormat -of "<OverrideImageFormat>">
	<verboseLevel>
	<renderQuality>
	<AdditionalCommandlineParam>
	<ClientConfigParam>
	"<Scene>"


CommandLine_Win=
	<CheckExitCode> <FN>

##################################  Commandlines Linux ##################################

CommandLine_Lx=
	<SetEnvGlobal>

CommandLine_Lx=
	<SetEnvSoft>

CommandLine_Lx=
	<ResetExitCode> 

CommandLine_Lx=  
	"<Exe>"
	-proj "<D><EL<PD>>"
	-r hw
	-rd "<ImageDir><EL<PD>>"
	-im "<ImageFilenameVariables><EL.><EL<PNL>>"
	<ImageSingleOutputFile ? -s <SeqStart>	-e <SeqEnd> -b <SeqStep> -rfs <SeqStart> -rfb <SeqStep> >
        <Layer -rl "<Layer>">
        <Camera -cam "<Camera>">
	-pad <ImageFramePadding>
 	<OverrideImageFormat -of "<OverrideImageFormat>">
	<verboseLevel>
	<renderQuality>
	<AdditionalCommandlineParam>
	<ClientConfigParam>
	"<Scene>"



CommandLine_Lx=
	<CheckExitCode> <FN>



##################################  Commandlines Mac ##################################

CommandLine_Mac=
	<SetEnvGlobal>

CommandLine_Mac=
	<SetEnvSoft>

CommandLine_Mac=
	<ResetExitCode> 

CommandLine_Mac=
	"<Exe>"
	-proj "<D><EL<PD>>"
	-r hw
	-rd "<ImageDir><EL<PD>>"
	-im "<ImageFilenameVariables><EL.><EL<PNL>>"
	<ImageSingleOutputFile ? -s <SeqStart>	-e <SeqEnd> -b <SeqStep> -rfs <SeqStart> -rfb <SeqStep> >
        <Layer -rl "<Layer>">
        <Camera -cam "<Camera>">
	-pad <ImageFramePadding>
 	<OverrideImageFormat -of "<OverrideImageFormat>">
	<verboseLevel>
	<renderQuality>
	<AdditionalCommandlineParam>
	<ClientConfigParam>
	"<Scene>"



CommandLine_Mac=
	<CheckExitCode> <FN>


################################## Render Settings ################################## 

ImageSizeCommandline= -x <Width> -y  <Height>

################################## Submitter Settings ################################## 
StartMultipleInstances= 0~0
SceneFileExtension= *.ma;*.mb
AllowImageNameChange= 1
AllowImageDirChange= 1
SequenceDivide= 0~1



ImageSize= PAL  ~720~576
ImageSize= NTSC  ~720~486
ImageSize= HD  ~ 1920~1080
ImageSize= HD small  ~ 1280~720
ImageSize= 4:3 Small ~ 400~300
ImageSize= 4:3 Big   ~ 1000~750
ImageSize= 16:9     ~ 1024~576




################################## Client Settings ################################## 
TexReplaceFormat= .ma ~ Char ~ AlwaysForward
TexReplaceFormat= .mb ~ FOR4 ~ AlwaysForward

licenseFailLine=  No license suitable to run

errorSearchLine=  

permanentErrorSearchLine = Unknown Maya file version
permanentErrorSearchLine = Cannot open renderer description file
permanentErrorSearchLine = Cannot render
permanentErrorSearchLine = Reference file not found

findFrameNoPre= <ImageFilenameSlash>
findFrameNoPost= <ImageExtensionSlash>

RenderAppWindow_WIN= Error ~ Unable to locate valid MAYA_APP_DIR ~ 1 ~ Button ~ OK 
