#
# Author: Royal Render, Holger Schoenberger, Binary Alchemy
# v 6.00.30
#
#
################################## Identify Render Application ################################## 
Name= LightWave
OS= 1
Version=9
Version_Minor=6
Type=3D


##################################  Commandlines Windows ##################################

CommandLine_Win=
	<SetEnvGlobal>

CommandLine_Win=
	<CPU <LimitCPUs> <CPU>>

CommandLine_Win=  set LW_CONTENT_DIR=<D><EL\>

CommandLine_Win=
	<SetEnvSoft>

CommandLine_Win=
	<ResetExitCode> 

CommandLine_Win=  IF exist "%LW_DIR%" (
 	"<Exe>"
	-3 "-c%LW_DIR%" "-d%LW_CONTENT_DIR%"
	"<Scene>"
	<SeqStart>
	<SeqEnd>
	<SeqStep>  
	) ELSE ( 
	"<Exe>"
	-3
	"<Scene>"
	<SeqStart>
	<SeqEnd>
	<SeqStep>
	)
	<AdditionalCommandlineParam>
	<ClientConfigParam>


CommandLine_Win=
	<CheckExitCode> <FN>

################################## Render Settings ################################## 


CommandLine_Mac=
	<SetEnvGlobal>

CommandLine_Mac=
	<CPU <LimitCPUs> <CPU>>

CommandLine_Mac= setenv LW_CONTENT_DIR "<D><EL/>"

CommandLine_Mac=
	<SetEnvSoft>

CommandLine_Mac=
	<ResetExitCode> 

CommandLine_Mac= 
 	"<Exe>"
	-3 "-c%LW_DIR%" "-d%LW_CONTENT_DIR%"
	"<Scene>"
	<SeqStart>
	<SeqEnd>
	<SeqStep>  
	<AdditionalCommandlineParam>
	<ClientConfigParam>


CommandLine_Mac=
	<CheckExitCode> <FN>


################################## Submitter Settings ################################## 
StartMultipleInstances= 1~0
SceneFileExtension= *.lws
AllowImageNameChange= 0
AllowImageDirChange= 0
SequenceDivide= 0~1







################################## Client Settings ################################## 
TexReplaceFormat= .lws ~ char

licenseFailLine=  

errorSearchLine=  


