#
# Author: Royal Render, Holger Schoenberger, Binary Alchemy
# v 6.02.19_7a
#
#
################################## Identify Render Application ################################## 
Name= Softimage
RendererName= Arnold Render
RendererLicense= Arnold Render
RenderType=
Version=7
Version_Minor=0
Type=3D


##################################  Commandlines Windows ##################################

CommandLine_Win=
	<SetEnvGlobal>

CommandLine_Win=  call "<Exe>"

CommandLine_Win=
	<SetEnvSoft>

CommandLine_Win=
	<ResetExitCode> 

CommandLine_Win=  XSIBatch
	-processing
	<CPU -thread <CPU> >
	-script "<PD/ <RR_DIR>render_apps/scripts/renderchannels_7_0.vbs"> 
	-lang vbscript
	-main "Render_channels"
	-args
	-scname "<Scene>"
	-db "<Database>"
	-wg "%WorkgroupPath%"
	<Layer -pass "<Layer>" >
	<Camera -camera "<Camera>" >
	-skip <SequenceDivide false ? true>
	-fname "<ImageDir><ImageFilename>" 
	-fext "<ImageExtension>" 
	-frstart <SeqStart>
	-frend <SeqEnd>
	-frstep <SeqStep> 
	-froffset <FileOffset> 
	<ImageFilenameTileAdd -fnameChannelAdd <ImageFilenameTileAdd><EL.>>
	<CPU -renderthreads <CPU> >
	<OverrideImageFormat -ftype <OverrideImageFormat>>
	<verboseLevel>
	<renderQuality>
	<AdditionalCommandlineParam>
	<ClientConfigParam>


CommandLine_Win=
	<CheckExitCode> <FN>

##################################  Commandlines Linux ##################################

CommandLine_Lx=
	<SetEnvGlobal>

CommandLine_Lx=  source "<Exe>"

CommandLine_Lx=
	<SetEnvSoft>

CommandLine_Lx=
	<ResetExitCode> 

CommandLine_Lx=  "<Exe><ED>Application/bin/XSIBATCH.bin"
	-processing
	<CPU -thread <CPU> >
	-script "<PD/ <RR_DIR>render_apps/scripts/renderchannels_7_0.vbs" >
	-lang vbscript
	-main "Render_channels"
	-args
	-scname "<Scene>"
	-db "<Database>"
	-wg "$WorkgroupPath"
	<Layer -pass "<Layer>" >
	<Camera -camera "<Camera>" >
	-skip <SequenceDivide false ? true>
	-fname "<ImageDir><ImageFilename>" 
	-fext "<ImageExtension>" 
	-frstart <SeqStart>
	-frend <SeqEnd>
	-frstep <SeqStep> 
	-froffset <FileOffset> 
	<ImageFilenameTileAdd -fnameChannelAdd <ImageFilenameTileAdd><EL.>>
	<CPU -renderthreads <CPU> >
	<OverrideImageFormat -ftype <OverrideImageFormat>>
	<verboseLevel>
	<renderQuality>
	<AdditionalCommandlineParam>
	<ClientConfigParam>


CommandLine_Lx=
	<CheckExitCode> <FN>

################################## Render Settings ################################## 

FlagsRenderQuality0= 
FlagsRenderQuality1= -AAsmax 1 -displace false
FlagsRenderQuality2= -AAsmax 4 
FlagsRenderQuality3= -AAsmax 6 
FlagsRenderQuality4= -AAsmax 8 

FlagsVerbose0= -verbose 0
FlagsVerbose1= -verbose 0
FlagsVerbose2= -verbose 0
FlagsVerbose3= -verbose 1
FlagsVerbose4= -verbose 2

FlagsRegion= -x1 <X1 <X1> ?0>  -x2 <X2 <X2> ? 19999> -y1 <Y1 <Y1> ? 0 > -y2 <Y2 <Y2> ? 19999>

ImageSizeCommandline= -resX <Width> -resY  <Height>

################################## Submitter Settings ################################## 

#Settigs for the submitter
StartMultipleInstances= 1~0
SceneFileExtension= *.scn
SequenceDivide= 1~0
AllowImageNameChange= 1
AllowImageDirChange= 1



ImageSize= PAL  ~720~576
ImageSize= NTSC  ~720~486
ImageSize= HD  ~ 1920~1080
ImageSize= HD small  ~ 1280~720
ImageSize= 4:3 Small ~ 400~300
ImageSize= 4:3 Big   ~ 1000~750
ImageSize= 16:9     ~ 1024~576




################################## Client Settings ################################## 
TexReplaceFormat= .scn ~ Char ~ Both ~ .scntoc

licenseFailLine=  license available to run Softimage
licenseFailLine=  license available to run XSI
licenseFailLine=  Error checking out license for arnold 
licenseFailLine=  Could not connect to RLM server
licenseFailLine=  Render Aborted... (usage not validated)
licenseFailLine=  wrong license version
licenseFailLine=  All licenses in use


errorSearchLine=  try '-memory
errorSearchLine=  Error: Exit render because of missing texture file

permanentErrorSearchLine = Please try to load it from version

findFrameNoPre= Rendering frame 
findFrameNoPost=  (
findFrameNoPostLineSkip= Skipping 

RenderAppWindow_WIN= Microsoft Visual C++ Runtime Library ~ Runtime Error ~ 1 ~ Button ~ OK 
