#
# Author: Royal Render, Holger Schoenberger, Binary Alchemy
# v 6.02.01
#
#
################################## Identify Render Application ################################## 
Name= Softimage
RendererName= Mental Ray
RendererLicense= Mental Ray
RenderType=
Version=7
Version_Minor=0
Type=3D


##################################  Commandlines Windows ##################################

CommandLine_Win=
	<SetEnvGlobal>

CommandLine_Win=  call "<Exe>"

CommandLine_Win=
	<SetEnvSoft>

CommandLine_Win=
	<ResetExitCode> 

CommandLine_Win=  XSIBatch
	<CPU -thread <CPU> >
	-script "<PD/ <RR_DIR>render_apps/scripts/renderchannels_7_0.vbs"> 
	-lang vbscript
	-main "Render_channels"
	-args
	-scname "<Scene>"
	-db "<Database>"
	-wg "%WorkgroupPath%"
	<Layer -pass "<Layer>" >
	<Camera -camera "<Camera>" >
	-skip <SequenceDivide false ? true>
	-fname "<ImageDir><ImageFilename>" 
	-fext "<ImageExtension>" 
	-frstart <SeqStart>
	-frend <SeqEnd>
	-frstep <SeqStep> 
	-froffset <FileOffset> 
	<ImageFilenameTileAdd -fnameChannelAdd <ImageFilenameTileAdd><EL.>>
	<CODisableDisplace -displace false>
	<COGrayLambert -lambert true>
	<COMotionSteps -motionSteps <COMotionSteps>>
	<OverrideImageFormat -ftype <OverrideImageFormat>>
	<verboseLevel>
	<renderQuality>
	<AdditionalCommandlineParam>
	<ClientConfigParam>


CommandLine_Win=
	<CheckExitCode> <FN>

##################################  Commandlines Linux ##################################

CommandLine_Lx=
	<SetEnvGlobal>

CommandLine_Lx=  source "<Exe>"

CommandLine_Lx=
	<SetEnvSoft>

CommandLine_Lx=
	<ResetExitCode> 

CommandLine_Lx=  "<Exe><ED>Application/bin/XSIBATCH.bin"
	<CPU -thread <CPU> >
	-script "<PD/ <RR_DIR>render_apps/scripts/renderchannels_7_0.vbs" >
	-lang vbscript
	-main "Render_channels"
	-args
	-scname "<Scene>"
	-db "<Database>"
	-wg "$WorkgroupPath"
	<Layer -pass "<Layer>" >
	<Camera -camera "<Camera>" >
	-skip <SequenceDivide false ? true>
	-fname "<ImageDir><ImageFilename>" 
	-fext "<ImageExtension>" 
	-frstart <SeqStart>
	-frend <SeqEnd>
	-frstep <SeqStep> 
	-froffset <FileOffset> 
	<ImageFilenameTileAdd -fnameChannelAdd <ImageFilenameTileAdd><EL.>>
	<CODisableDisplace -displace false>
	<COGrayLambert -lambert true>
	<COMotionSteps -motionSteps <COMotionSteps>>
	<OverrideImageFormat -ftype <OverrideImageFormat>>
	<verboseLevel>
	<renderQuality>
	<AdditionalCommandlineParam>
	<ClientConfigParam>


CommandLine_Lx=
	<CheckExitCode> <FN>

################################## Render Settings ################################## 

FlagsRenderQuality0= 
FlagsRenderQuality1= -AAsmin -2 -AAsmax 0 -AAc 0.2 -displace false
FlagsRenderQuality2= -AAsmin  0 -AAsmax 2 -AAc 0.1
FlagsRenderQuality3= -AAsmin  0 -AAsmax 2 -AAc 0.05
FlagsRenderQuality4= -AAsmin  1 -AAsmax 3 -AAc 0.05

FlagsVerbose0= -verbose 12
FlagsVerbose1= -verbose 0
FlagsVerbose2= -verbose 12
FlagsVerbose3= -verbose 28
FlagsVerbose4= -verbose 60

FlagsRegion= -x1 <X1 <X1> ?0>  -x2 <X2 <X2> ? 19999> -y1 <Y1 <Y1> ? 0 > -y2 <Y2 <Y2> ? 19999>

ImageSizeCommandline= -resX <Width> -resY  <Height>

CODisableDisplace= 1 ~ 0 
COGrayLambert= 1 ~ 0 
COMotionSteps= 1 ~ 0 ~ 4

################################## Submitter Settings ################################## 

#Settigs for the submitter
AllowLocalSceneCopy= 1~0
StartMultipleInstances= 1~0
SceneFileExtension= *.scn
Satellite= 1~0
SequenceDivide= 1~0
AllowImageNameChange= 1
AllowImageDirChange= 1

ImageTypes= SGI 8bit~ sgi8 ~sgi
ImageTypes= SGI 16bit~ sgi16 ~sgi
ImageTypes= CT float~ ct32 ~ct
ImageTypes= JPEG ~jpg~jpg

ImageSize= PAL  ~720~576
ImageSize= NTSC  ~720~486
ImageSize= HD  ~ 1920~1080
ImageSize= HD small  ~ 1280~720
ImageSize= 4:3 Small ~ 400~300
ImageSize= 4:3 Big   ~ 1000~750
ImageSize= 16:9     ~ 1024~576




################################## Client Settings ################################## 
TexReplaceFormat= .scn ~ Char ~ Both ~ .scntoc

licenseFailLine=  license available to run Softimage
licenseFailLine=  license available to run XSI

errorSearchLine=  try '-memory
errorSearchLine=  Error: Exit render because of missing texture file

permanentErrorSearchLine = Please try to load it from version

findFrameNoPre= Rendering frame 
findFrameNoPost=  (
findFrameNoPostLineSkip= skipped


RenderAppWindow_WIN= Microsoft Visual C++ Runtime Library ~ Runtime Error ~ 1 ~ Button ~ OK 
RenderAppWindow_WIN= XSI ~ Unable to access ~ 1 ~ Button 
