# config file format version 7.0
#
# Author: Royal Render, Holger Schoenberger, Binary Alchemy
# v 7.0.20
#
#
################################## Identify Render Application ################################## 
Name= Mantra_StdA
Version=10
Version_Minor=0
Type=Archive



##################################   [Windows] [Linux] [Osx] ##################################

CommandLine=<envFileExecute <rrEnvFile>> 

CommandLine=<rrEnvLine> 


CommandLine=
	<SetEnvGlobal>


CommandLine=
	<SetEnvSoft>


CommandLine=
	<ResetExitCode> 


CommandLine=  
	::win  @echo 
	::lx   /bin/echo
	::osx  /bin/echo
	"*************** Rendering frame <FN> ***************"



CommandLine=  "<Exe>"
	-f <Scene>
	<verboseLevel>
        <Cores -j <Cores>>
	<AdditionalCommandlineParam>
	<ClientConfigParam>
	"<ImageDir><ImageFilename><FNimgPadded><ImageExtension>"


CommandLine=
	<CheckExitCode> <FN>

CommandLine=  
	::win  @echo 
	::lx   /bin/echo
	::osx  /bin/echo
	"*************** Frame <FN> done ***************"

################################## Render Settings ################################## 
sceneIsMultiFrame= 1

FlagsVerbose0= -V2a
FlagsVerbose1= -V0
FlagsVerbose2= -V1
FlagsVerbose3= -V3a
FlagsVerbose4= -V7a



################################## Submitter Settings ################################## 
StartMultipleInstances= 1~0
SceneFileExtension= *.ifd
SequenceDivide= 0~1
AllowImageNameChange= 1
AllowImageDirChange= 1

################################## Client Settings ################################## 



useLargestMinorversion=0

Frozen_MinCoreUsage=1.90

TexReplaceFormat= .ifd ~ Char

licenseFailLine=  no license available
licenseFailLine=  no licenses could be found to run this application

permanentErrorSearchLine = Unable to connect to hserver for license


findFrameNoPre= Frame 
findFrameNoPost=  done 

