# config file format version 7.0
#
# Author: Royal Render, Holger Schoenberger, Binary Alchemy
# v 7.0.20
#
#
################################## Identify Render Application ################################## 
Name= Maxwell_StdA
rendererName= prelight
Version=2
Version_Minor=0
Type=Archive



##################################   [Windows] [Linux] [Osx] ##################################


CommandLine=<envFileExecute <rrEnvFile>> 

CommandLine=<rrEnvLine>

CommandLine=
	<SetEnvGlobal>

CommandLine=
	<SetEnvSoft>

CommandLine=
	<ResetExitCode> 

CommandLine=  "<Exe>"
	-mxs:"<Scene>"
	-nowait
	-node
	-nogui
	<camera -camera:<camera>>
	-animation:<SeqStart>-<SeqEnd>
	-priority:low
	<CPU -threads:<CPU>>
	<verboseLevel>
	<renderQuality>
	<AdditionalCommandlineParam>
	<ClientConfigParam>

CommandLine=
	<CheckExitCode> <FN>



################################## Render Settings ################################## 
sceneIsMultiFrame= 1
FlagsRenderQuality0= 
FlagsRenderQuality1= -sl:1
FlagsRenderQuality2= -sl:4
FlagsRenderQuality3= -sl:8
FlagsRenderQuality4= -sl:12

FlagsVerbose0= -verbose:2
FlagsVerbose1= -verbose:0
FlagsVerbose2= -verbose:2
FlagsVerbose3= -verbose:3
FlagsVerbose4= -verbose:4

ImageSizeCommandline= -res:<Width>x<Height>

FlagsRegion= -region:region,<X1<X1>?0>,<X2<X2>?<Height>>,<Y1<Y1>?0>,<Y2<Y2>?<Width>>

################################## Submitter Settings ################################## 
SceneFileExtension= *.mxs
SequenceDivide= 0~1
AllowImageNameChange= 1
AllowImageDirChange= 1
RenderPreviewFirst= 0~0


ImageSize= PAL  ~720~576
ImageSize= NTSC  ~720~486
ImageSize= HD  ~ 1920~1080
ImageSize= HD small  ~ 1280~720
ImageSize= 4:3 Small ~ 400~300
ImageSize= 4:3 Big   ~ 1000~750
ImageSize= 16:9     ~ 1024~576


################################## Client Settings ################################## 



