# config file format version 7.0
#
# Author: Royal Render, Holger Schoenberger, Binary Alchemy
# Last change: v 7.0.10
#
#
#
#
#  Note: <FolderVideoSmall>  can be changed via rrConfig, tab "Other"
#
#
################################## Identify Render Application ################################## 
Name= Create Full Video


PrePostType=post

PrePostChecked= 0
PrePostShowParamA= 0
PrePostShowParamB= 0
PrePostParamA= 100
PrePostParamB= 100
AllowedForSingleOutput = 0

##################################  [Windows] [Linux] [Mac] ##################################

CommandLine=
	<ResetExitCode> 

CommandLine= "<rrLocalBin><OsxApp rrCreateVideo>"
	"<FolderVideoFull><SceneFileName>_<Layer>_<ID_S>.mov"  
	"<ImageDir><ImageFilename>#<ImageExtension>" 
	-w "<JobFilesFolderName><EL<PD>>" 
	<PreviewGamma -g> 
	-fullres
	-tl "<SceneFile> - <layer>"  
	-bl "<date ddd, dd.MMM>"  
	-br "*frame*" 
	-bli <rrRoot>sub/R_left.png 
	-bri <rrRoot>sub/R_right.png

CommandLine=
	<CheckExitCode> <FN>
